.person-name {
    font-size:large;
    text-decoration: underline;
    font-weight: bolder;
}

.person-item {
    margin-top: 0.5em;
}

.person-institution {
    margin-top: -1.25em;
    font-style: italic;
}

img.profile-photo {
    max-width: 100px;
}