.event-date {
    padding-top:0px;
    font-style: italic;
}

.event-title {
    font-size: x-large;
    font-weight: bolder;
}

.event-description {
    padding-top: 0.25em;
    padding-bottom: 1em;
}

.event {

}