#opening_text {
	font-size: x-large;
    margin-left: 1em;
    margin-top: 0.5em;
}

body {
    background-color: #fcfcfc;
}

#logo {
    position: absolute;
    top: -40px;
    margin-right: 1em;
}

div.text {
    padding-top:1em;
}

.list {
    padding-left:1em;
}

img#logo {
  padding-top: 4px;
  border: 1px black solid;
}

p#top_padding {
    padding-top: 50px;
}

.top-bar,.top-bar-section,.topbar-dropdown-label-bg,.top-bar a {
    background-color:#000060 !important;
}


#footer {
position: fixed;
bottom: 0;
width: 100%;
height: 50px; /* choose any height */
background-color:#000078;

}
